.background::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.background::after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-top: var(--main-offset);
  padding-bottom: var(--main-offset);
}
@media (max-height: 700px) {
  .wrapper {
    height: auto;
  }
}

.title {
  margin: 0;
  color: var(--color-white);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--main-offset);
  padding: var(--main-offset);
  border-radius: 5px;
  border: 2px solid var(--color-white);
  color: var(--color-white);
  background-color: var(--color-form-background);
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--secondary-offset);
}
.form .itc-select__option {
  color: var(--color-black);
  font-style: normal;
}
.form .itc-select__toggle {
  font-style: normal;
}
.form .itc-select__toggle::after {
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
.form__datepicker {
  height: 36px;
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.form__datepicker::-webkit-input-placeholder {
  color: var(--color-black);
}
.form__datepicker::-moz-placeholder {
  color: var(--color-black);
}
.form__datepicker:-ms-input-placeholder {
  color: var(--color-black);
}
.form__datepicker::-ms-input-placeholder {
  color: var(--color-black);
}
.form__datepicker::placeholder {
  color: var(--color-black);
}
.form__textarea {
  outline: none;
  border-radius: 5px;
  padding: 5px;
  height: 120px;
  line-height: 20px;
  resize: none;
}
.form__btns-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  gap: var(--secondary-offset);
}
.form__btn {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--color-white);
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}
.form__btn--submit {
  background-color: #0d6efd;
}
.form__btn--submit:hover {
  background-color: #0b5ed7;
}
.form__btn--reset {
  background-color: #6c757d;
}
.form__btn--reset:hover {
  background-color: #565e64;
}

.notification {
  border: 3px solid var(--color-site-background);
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 7;
  border-radius: 15px;
  padding: var(--secondary-offset) var(--main-offset);
  font-size: 25px;
  text-align: center;
  color: var(--color-site-background);
  background-color: var(--color-white);
  -webkit-transform: translate(0, -200%);
          transform: translate(0, -200%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 576px) {
  .notification {
    margin: 0 var(--main-offset);
    width: calc(100% - var(--main-offset) * 4);
  }
}
.notification--active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}